.login-container{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(135deg, #ffe645 0%, #e2aa02 100%); */
    position: relative;
}
.logo{
    font-size: 70px;
    font-weight: bold;
    font-family: 'Creepster',cursive;
    letter-spacing: 10px;
    position: absolute;
    top: 50px;
    right: 50px;
}

.desc{
    font-size: 24px;
    font-family: 'Aladin', cursive;
    letter-spacing: 5px;
    position: absolute;
    top: 200px;
    right: 50px;
    text-align: right;
    width: 1200px;
    
}

.iphone{
    position: absolute;
    top:50px;
    left: 50px;
    height: 400px;
    width: 300px;
}

.login-form{
    width: 500px;
    height: 300px;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    box-shadow: 5px 5px 20px #383838;
}