<div class="login-container">
    <img class="iphone" src="assets/img/i_phone.jpg" alt="">
    <div class="logo">Tout l’iPhone</div>
    <div class="desc">Profitez de la livraison en deux heures depuis un Apple Store dans certaines grandes villes, de la livraison gratuite ou d’un retrait facile.Une question ? Chattez en ligne avec nos Spécialistes ou
        appelez le 0800 046 046.
    </div>

    <div class="login-form">
        <div class="login-group">
            <label for="uname">Username</label>
            <input type="text" name="uname">
        </div>
        <div class="form-group">
            <label for="pword">Password</label>
            <input type="password" name="pword">
        </div>
    </div>
</div>
