/* You can add global styles to this file, and also import other style files */
/* @import url("https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple"); */

@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Roboto&family=Creepster&display=swap");
/* .sr-only {
  display: none !important;
} */